<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="todo">
      <div id="status">There <span id="count"></span> to do</div>
      <ul id="list">
      </ul>
      <form name="form">
        <input placeholder="Type what to do" id="inputEl"/>
        <button id="add">Add task</button>
      </form>
      <br/>
      <a href="#" id="clear">Remove done tasks</a>
    </div>
    <script id="todo-tpl" type="text/x-handlebars-template">
      {{#each items}}
        <li>
          <input type="checkbox" data-id="{{id}}" {{#if done}}checked{{/if}} />
          {{ value }}
        </li>
      {{/each}}
    </script>
    <script src="/javascripts/jquery-1.11.0.js"></script>
    <script src="/javascripts/handlebars-v1.3.0.js"></script>
    <script src="/javascripts/underscore.js"></script>
    <script src="/javascripts/backbone.js"></script>
    <script src="/javascripts/todo.js"></script>
  </body>
</html>
