<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    
    <div id="posts">
      <form action="#">
        <input type="text" name="title"><br>
        <textarea name="content" id="" cols="30" rows="10"></textarea><br>
        <input type="submit" id="add">
      </form>
      <div id="feed">
        
      </div>
    </div>

    <script id="posts-tpl" type="text/x-handlebars-template">
      {{#each items}}
        <div>
          <h2>{{ title }}</h2>
          {{ content }}
          <button data-id="{{id}}">Delete</button>
        </div>
      {{/each}}
    </script>

    <script src="/javascripts/jquery-1.11.0.js"></script>
    <script src="/javascripts/handlebars-v1.3.0.js"></script>
    <script src="/javascripts/underscore.js"></script>
    <script src="/javascripts/backbone.js"></script>
    <script src="/javascripts/post.js"></script>
  </body>
</html>
