body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#todo { padding: 20px; background: #eee;}
#todo ul { padding: 0;}
#todo li { list-style: none; margin:0}
#todo li input { margin-right: 8px; }
